<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление URL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Удаление URL</h2>
        <p>Действительно удалить? <strong>{{ url.original_url }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да, удалить</button>
            <a href="{% url 'user_urls' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</body>
</html>
